body {
    box-sizing: border-box;
    font-family: 'Roboto';
    /* font-family: 'Helvetica Neue'; */
    background: rgb(235, 235, 235);
    background: linear-gradient(to bottom, rgb(216, 216, 216), white);

}

header {
    /* background: black; */
    background: linear-gradient(to top left, black, rgb(48, 48, 48));

    padding: 75px;
    color: white;
    letter-spacing: 5px;
}


#title {
    text-align: center;
    font-size: 36px;
}


/* ============ LOG IN  ============ */
#firebaseui-auth-container {
    margin-top: 50px;
    margin-bottom: 50px;
}


/* ============ SEARCH BAR ============ */

.form-inline {
    margin: 0 auto;
    padding: 5px;
}


.navbar {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: 0px 0px 15px -1px lightslategray;
}

.dropdown-skill-level {
    margin-left: 50px;
}

.dropdown-language {
    margin-left: 50px;
}

.dropdown button {
    border: 1px solid lightgray;
    font-size: 12px;
    margin-left: 30px;
    /* border-radius: 0; */

}

.dropdown-toggle {
    width: 250px;
    letter-spacing: 0.5px;
}

.dropdown-item {
    font-size: 12px;
}

.dropdown-menu li {
    text-align: center;
    width: 250px;
    letter-spacing: 3px;
}


.dropdown-menu li:hover {
    cursor: pointer;
}

.keywords {
    margin-right: 20px;
}

#keywords-input {
    font-size: 12px;
    text-align: center;
    width: 250px;
    /* border-radius: 0; */
    letter-spacing: 3.5px;
    margin-left: 50px;
    margin-right: 20px;
}

#submit-button {
    background: black;
    color: white;
    box-shadow: 2px 5px 20px -1px slategray;
    font-size: 12px;
    width: 250px;
    margin-right: 50px;
    border-radius: 0;
    letter-spacing: 5px;
}

.btn:focus,
#keywords-input:focus {
    box-shadow: none;
}

#btnLogin {
    background: gray;
    color: white;
    box-shadow: 2px 5px 20px -1px slategray;
    font-size: 12px;
    width: 250px;
    margin-right: 50px;
    border-radius: 0;
    letter-spacing: 5px;
}



#submit-button,
#btnSignUp {
    background: black;
    color: white;
    box-shadow: 2px 5px 10px -3px slategray;
    font-size: 12px;
    width: 250px;
    margin-right: 50px;
    border-radius: 0;
    letter-spacing: 5px;
}

#btnLogout {
    background: gray;
    color: white;
    box-shadow: 2px 5px 10px -3px slategray;
    font-size: 12px;
    width: 250px;
    border-radius: 0;
    letter-spacing: 5px;
}

/* ============ LOGIN ============ */
.login {
    height: 350px;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background: white;
}

.login p {
    margin-bottom: 10px;
    letter-spacing: 3px;
}

#txtEmail,
#txtPassword {
    width: 80%;
    margin-bottom: 20px;
    text-align: center;
}


#btnLogin,
#btnSignUp {
    margin-bottom: 10px;
    padding: 10px;
}


/* ============ RESULTS BODY ============ */





.slider {
    width: 95%;
    margin: 0 auto;
}

.slick-next:before,
.slick-prev:before {
    color: blue;
}


.favorite-buttons-div {
    /* background: rgb(235, 235, 235); */
    background: white;
    box-shadow: 0px 2px 15px -5px  darkgray;
    height: auto;
    position: relative;
    /* padding: 20px; */
    width: 80%;
    margin: 0px auto 30px auto;
    padding-top: 60px;
    padding-bottom: 10px;
}

.favorites-header {
    color: white;
    background: linear-gradient(to right, black, rgb(216, 216, 216));
    display: inline-block;
    padding: 10px 40px 10px 80px;
    letter-spacing: 5px;
    position: absolute;
    left: -20px;
    top: 10px;
}


.favorite-button {
    background: rgb(98, 158, 197);
    color: white;
    box-shadow: 1px 3px 5px -1px slategray;
    font-size: 12px;
    border-radius: 0;
    letter-spacing: 3px;
    border: none;
    padding: 10px 20px 10px 20px;
    margin: 10px;
}

#beginner-button {
    background: radial-gradient(circle, #CCB97F, #7F6719)
}

#intermediate-button {
    background: radial-gradient(circle, #CCCCCC, #7F7F7F)
}

#advanced-button {
    background: radial-gradient(circle, #FFCE33, #CCA119)
}

.favorite-button-item {
    display: inline-block;
}

.close { 
    position: relative;
    top: -1px;
    right: 8.5px;
}


 /* ============ YOUTUBE RESULTS ============ */

 .youtube-header {
     text-align: center;
     color: darkgray;
     /* background: linear-gradient(to right, black, rgb(216, 216, 216)); */
     font-size: 30px;
     padding: 15px 40px 15px 80px;
     /* font-weight: bold; */
     letter-spacing: 5px;
     width: 60%;
     margin: 0 auto;
 }

 .youtube-row {
    margin-bottom: 50px;
    text-align: center;
}


.youtube-results {
    display: inline-block;
    box-shadow: 2px 5px 15px -2px  darkgray;
    height: 250px;
    width: 375px;
    margin: 20px;
    border-radius: 5px;
    background: white;
}


.youtube-row .youtube-results:hover { 
    -webkit-transform: scale(1.1);
  }



 /* ============ MEETUP RESULTS ============ */

.meetup-results {
    /* background: rgb(235, 235, 235); */
    background: white;
    box-shadow: 0px 3.5px 10px -5px  gray;

    height: 400px;
    margin-bottom: 50px;
    position: relative;
    margin-top: 50px;
}

.meetup-results-header {
    color: white;
    background: linear-gradient(to right, rgb(255, 0, 157), rgb(255, 0, 85));
    /* background: linear-gradient(to left, black, rgb(216, 216, 216)); */
    display: inline-block;
    padding: 10px;
    letter-spacing: 5px;
    width: 100%;
    text-align: center;
    font-weight: bold;

    /* position: absolute;
    left: -20px; */
    /* margin-top: 30px; */

}

#meetup-logo {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.meetup-results-info {
    text-align: center;
}

/* ======== GOOGLE MAPS RESULTS ========== */

.google-maps {
    /* box-shadow: 0px 5px 20px -5px black; */
    /* border: 0.5px solid lightgray; */
    box-shadow: 0px 3.5px 10px -5px  gray;
    background: white;
    position: relative;
    height: 400px;
    margin-top: 50px;
}

#google-maps-title {
    color: darkslategray;
    /* background: lightgray; */
    background: linear-gradient(to left, rgb(223, 223, 223), rgb(179, 176, 176));
    font-weight: bold;
    padding: 10px;
    margin-bottom: 0;
    text-align: center;
    border-radius: none;
    letter-spacing: 3px;
    width: 100%;
    z-index: 1;
    position: relative;
}

#google-maps-display {
    position: absolute;
    border: 1px solid black;
    left: 0px;
    height: 356px;
    top: 44px;
}

#google-maps-logo {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}



/* ============ FOOTER ============ */
footer {
    text-align: center;
    padding: 50px;
    font-size: 14px;
    color: white;
    background: darkgray;
}


/* ============ POPUP ADD ============ */

/* Style the banner */
.banner {
  padding: 10px 16px;
  color: #f1f1f1;
  height: 50%;
  width: 50%;
}
.adPic {
  height: 50%;
}
/* Page content */
.content {
  padding: 16px;
}

.sticky, .banner {
  position: fixed;
  top: 25%;
  width: 50%
}

.sticky + .content {
  padding-top: 102px;


/* ============ MEDIA QUERIES ============ */

/* ========== 1532px =========== */

@media screen and (max-width: 1531px) {
    .form-inline {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    #submit-button {
        display: block;
    }

    #btnLogout {
        display: block;
        margin-top: 15px;
    }
}

@media screen and (max-width: 1281px) {
    .form-inline {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #submit-button {
        display: block;
        margin: 0px auto;

    }
}

/* ========== 1231px =========== */


@media screen and (max-width: 1231px) {
    #submit-button {
        margin-top: 15px;
    }

    #btnLogout {
        display: block;
        margin: 15px auto 0px auto;
    }
}

/* ========== 980px =========== */

@media screen and (max-width: 980px) {

    header {
        padding: 20px;
    }

    .form-inline {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .nav-item {
        display: inline;
        /* border: 1px solid red; */
        margin: 0px;
        margin-right: 0px;

    }

    .keywords {
        width:250px;
        margin-right: 0px;
        margin-left: 0px;
    }
    
    #keywords-input {
        margin-left: 0px;
        margin-right: 0px;
    }



    .meetup-results-header {
        color: white;
        background: linear-gradient(to right, black, rgb(216, 216, 216));
        display: inline-block;
        padding: 10px 40px 10px 40px;
        letter-spacing: 5px;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        width: 100%;
        margin-top: 0px;
    }

    .youtube-row {
        padding: 0px;
        margin: 0px;
    }

    .youtube-results {
        background: white;
        box-shadow: 0px 2px 15px -2px  darkgray;
    }

    .youtube-video {
        display: none;
        margin: auto;
        background: white;    
        border: none;
        box-shadow: 0px 2px 15px -2px  darkgray;
    }

    .google-maps {
        margin-bottom: 50px;
    }

}

/* ========== 791px =========== */


 @media screen and (max-width: 791px) {

    header {
        padding: 20px;
    }
    .dropdown-toggle {
        margin: 0 auto;
    }


    .dropdown-language,
    .dropdown-skill-level,
    .keywords {
        margin: 10px auto 10px auto;
        display: block;
    }

    #submit-button {
        display: block;
        margin: 20px auto;
    }

    #btnLogout {
        margin-top: 0px;
    }

    .meetup-results-header {
        color: white;
        background: linear-gradient(to right, black, rgb(216, 216, 216));
        display: inline-block;
        padding: 10px 40px 10px 40px;
        letter-spacing: 5px;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        width: 100%;
        margin-top: 0px;
    }

    .youtube-results {
        background: white;
        box-shadow: 0px 2px 15px -2px  darkgray;
    }

    .youtube-video {
        display: none;
        margin: auto;
        background: white;    
        border: none;
        box-shadow: 0px 2px 15px -2px  darkgray;

    }

}


/* ========== 768px =========== */

@media screen and (max-width: 768px) {
    .youtube-results {
        margin-top: 50px;
    }


}




/* ========== 576px =========== */


@media screen and (max-width: 576px) {

    header {
        padding: 20px;
    }

    .form-inline {
        display: flex;
        flex-direction: column;
    }

    #submit-button {
        margin: 10px;
    }

    #btnLogout {
        margin-top: 10px;
    }

    .meetup-results-header {
        color: white;
        background: linear-gradient(to right, black, rgb(216, 216, 216));
        display: inline-block;
        padding: 10px 40px 10px 40px;
        letter-spacing: 5px;
        position: absolute;
        top: 0px;
        left: 0px;
        text-align: center;
        width: 100%;
        margin-top: 0px;
    }

    .youtube-results {
        margin-top: 50px;
        background: white;
        box-shadow: 0px 2px 15px -2px  darkgray;
    }

    .youtube-video {
        display: none;
        margin: auto;
        background: white;    
        border: none;
        box-shadow: 0px 2px 15px -2px  darkgray;

    }

}




